 .certificate-container {
    background-image: url("/public/certificate.png");
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center center;
    position: relative;
} 
  .text-overlay {
    position: absolute;
    top: 29%;
    left: 42%;
    /* transform: translate(-50%, -50%); */
    color: black;
    text-align: center;
    line-height: 1.2;
}